@charset "UTF-8";

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.review_all {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.star_rating {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transform: scale(1.4);
}

.star_rating .star {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	display: inline-block;
	background: url('/shop/templete/empty_star.png') no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}

.star_rating .star.on {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	display: inline-block;
	background: url('/shop/templete/colored_star.png') no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}

#star_select {
	color: gray;
	font-size: 12px;
}

.review_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#review_box {
	width: 400px;
	box-sizing: border-box;
	display: inline-block;
	background: #F3F4F8;
	border: 0;
	border-radius: 10px;
	height: 100px;
	resize: none;
	font-size: 13px;
	font-family: sans-serif;
	resize: none;
}

.review_text {
	display: flex;
	flex-direction: row;
	justify-content: right;
	font-size: 12px;
	vertical-align: top;
	margin-bottom: 10px;
}

.photo {
	display: flex;
    flex-direction: row;
    justify-content: center;
	padding-bottom: 10px;
}

.attach_photo {
    width: 400px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    max-height: 50px;
    padding: 15px 0;
    font-size: 1.1em;
    text-align: center;
    background: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn01,
.btn02 {
    display: block;
    width: 200px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    max-height: 50px;
    padding: 15px 0;
    margin: 2px;
    font-size: 1.1em;
    text-align: center;
    color: white;
    background: black;
}
